@import "~antd/dist/antd.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.ant-menu.ant-menu-light,
h2 {
  text-decoration: none;
  color: rgba(14, 14, 14);
}

.ant-menu.ant-menu-light .ant-menu-item-selected.highlightChange {
  color: white; /*Overriden property*/
  border-bottom: 2px solid white;
}

.ant-menu.ant-menu-light .ant-menu-item-active.highlightChange {
  color: inherit;
  border-bottom: 2px solid white;
}

.ant-menu.ant-menu-light .ant-menu-item-active span {
  color: white;
  transition: color 0.3s ease-in-out;
}

.ant-menu-horizontal > .ant-menu-item-selected.highlightChange a {
  text-decoration: none;
  color: white;
}

.ant-menu-horizontal > .ant-menu-item.highlightChange a:hover {
  text-decoration: none;
  color: white;
}

.ant-menu.ant-menu-light.ant-menu-vertical
  .ant-menu-item-active
  .highlightChangeVertical
  h4 {
  color: rgba(14, 14, 14, 0.6);
}

.ant-menu.ant-menu-light.ant-menu-vertical
  .ant-menu-item-selected
  .highlightChangeVertical
  h4 {
  background-color: rgba(14, 14, 14, 0.3);
}
